.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.909668;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.919922;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:37.004000px;}
._0{width:51.744000px;}
.fc1{color:rgb(51,51,51);}
.fc0{color:rgb(0,0,10);}
.fs1{font-size:44.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.y1f{bottom:6.128996px;}
.ya{bottom:6.129000px;}
.yf{bottom:6.129002px;}
.y2{bottom:6.778001px;}
.y4{bottom:15.480000px;}
.ye{bottom:18.778000px;}
.y17{bottom:18.778004px;}
.y1e{bottom:19.566999px;}
.yd{bottom:31.427000px;}
.y16{bottom:31.427004px;}
.y1d{bottom:33.004999px;}
.yc{bottom:44.076000px;}
.y15{bottom:44.865002px;}
.y1c{bottom:46.442997px;}
.y14{bottom:57.514002px;}
.y1b{bottom:59.091997px;}
.y13{bottom:70.952002px;}
.y1a{bottom:72.529997px;}
.y2e{bottom:78.116974px;}
.y12{bottom:83.601002px;}
.y19{bottom:85.178997px;}
.y2d{bottom:90.766022px;}
.y2c{bottom:103.415010px;}
.y2b{bottom:116.852997px;}
.y2a{bottom:129.501984px;}
.y29{bottom:142.150972px;}
.y28{bottom:155.589020px;}
.y0{bottom:165.500000px;}
.y27{bottom:192.136995px;}
.y26{bottom:205.574984px;}
.y25{bottom:219.013002px;}
.y24{bottom:232.450989px;}
.y23{bottom:245.100008px;}
.y22{bottom:258.537996px;}
.y21{bottom:271.976013px;}
.y20{bottom:284.625000px;}
.y18{bottom:307.793995px;}
.y11{bottom:404.992992px;}
.y10{bottom:503.992996px;}
.yb{bottom:513.262991px;}
.y9{bottom:569.358992px;}
.y8{bottom:590.886993px;}
.y7{bottom:617.434999px;}
.y6{bottom:630.084000px;}
.y30{bottom:631.303000px;}
.y5{bottom:642.733002px;}
.y3{bottom:665.902000px;}
.y2f{bottom:696.499000px;}
.y1{bottom:712.700998px;}
.h7{height:20.149000px;}
.h2{height:23.599001px;}
.h4{height:29.500000px;}
.h6{height:30.529297px;}
.h5{height:30.980469px;}
.hb{height:33.304688px;}
.h3{height:38.855469px;}
.h8{height:58.096001px;}
.h9{height:97.621002px;}
.ha{height:99.198998px;}
.h1{height:570.000000px;}
.h0{height:792.000000px;}
.w6{width:117.650002px;}
.w2{width:168.199997px;}
.w3{width:249.199997px;}
.w4{width:252.600006px;}
.w5{width:384.500000px;}
.w1{width:501.500000px;}
.w0{width:612.000000px;}
.x6{left:3.750000px;}
.xc{left:19.175000px;}
.x3{left:20.385000px;}
.xa{left:21.750000px;}
.x2{left:40.750000px;}
.x0{left:55.000000px;}
.x4{left:56.700001px;}
.xd{left:74.700001px;}
.xe{left:77.700001px;}
.x5{left:92.150002px;}
.xf{left:95.700001px;}
.x9{left:176.158005px;}
.x8{left:178.917999px;}
.x1{left:221.399998px;}
.x7{left:304.699998px;}
.xb{left:438.200001px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:49.338667pt;}
._0{width:68.992000pt;}
.fs1{font-size:58.666667pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.y1f{bottom:8.171995pt;}
.ya{bottom:8.172000pt;}
.yf{bottom:8.172002pt;}
.y2{bottom:9.037334pt;}
.y4{bottom:20.639999pt;}
.ye{bottom:25.037333pt;}
.y17{bottom:25.037338pt;}
.y1e{bottom:26.089333pt;}
.yd{bottom:41.902667pt;}
.y16{bottom:41.902672pt;}
.y1d{bottom:44.006666pt;}
.yc{bottom:58.768000pt;}
.y15{bottom:59.820002pt;}
.y1c{bottom:61.923996pt;}
.y14{bottom:76.685336pt;}
.y1b{bottom:78.789330pt;}
.y13{bottom:94.602669pt;}
.y1a{bottom:96.706662pt;}
.y2e{bottom:104.155965pt;}
.y12{bottom:111.468002pt;}
.y19{bottom:113.571996pt;}
.y2d{bottom:121.021362pt;}
.y2c{bottom:137.886681pt;}
.y2b{bottom:155.803996pt;}
.y2a{bottom:172.669312pt;}
.y29{bottom:189.534630pt;}
.y28{bottom:207.452026pt;}
.y0{bottom:220.666667pt;}
.y27{bottom:256.182660pt;}
.y26{bottom:274.099978pt;}
.y25{bottom:292.017337pt;}
.y24{bottom:309.934652pt;}
.y23{bottom:326.800011pt;}
.y22{bottom:344.717328pt;}
.y21{bottom:362.634684pt;}
.y20{bottom:379.500000pt;}
.y18{bottom:410.391993pt;}
.y11{bottom:539.990657pt;}
.y10{bottom:671.990662pt;}
.yb{bottom:684.350655pt;}
.y9{bottom:759.145322pt;}
.y8{bottom:787.849325pt;}
.y7{bottom:823.246666pt;}
.y6{bottom:840.112000pt;}
.y30{bottom:841.737334pt;}
.y5{bottom:856.977336pt;}
.y3{bottom:887.869334pt;}
.y2f{bottom:928.665333pt;}
.y1{bottom:950.267998pt;}
.h7{height:26.865334pt;}
.h2{height:31.465335pt;}
.h4{height:39.333333pt;}
.h6{height:40.705729pt;}
.h5{height:41.307292pt;}
.hb{height:44.406250pt;}
.h3{height:51.807292pt;}
.h8{height:77.461334pt;}
.h9{height:130.161336pt;}
.ha{height:132.265330pt;}
.h1{height:760.000000pt;}
.h0{height:1056.000000pt;}
.w6{width:156.866669pt;}
.w2{width:224.266663pt;}
.w3{width:332.266663pt;}
.w4{width:336.800008pt;}
.w5{width:512.666667pt;}
.w1{width:668.666667pt;}
.w0{width:816.000000pt;}
.x6{left:5.000000pt;}
.xc{left:25.566667pt;}
.x3{left:27.180000pt;}
.xa{left:29.000000pt;}
.x2{left:54.333333pt;}
.x0{left:73.333333pt;}
.x4{left:75.600001pt;}
.xd{left:99.600001pt;}
.xe{left:103.600001pt;}
.x5{left:122.866669pt;}
.xf{left:127.600001pt;}
.x9{left:234.877340pt;}
.x8{left:238.557332pt;}
.x1{left:295.199997pt;}
.x7{left:406.266664pt;}
.xb{left:584.266668pt;}
}
